html {
  font-family: sans-serif;
}

@media (min-width: 800px) {
  #mid { 
    margin: 320px auto;
    width: 70%;
    height: auto;
    display: grid;
    grid-template-rows: 120px auto;    
    grid-template-columns: 400px auto;
    grid-template-areas: 
      "a b";
  }

  #top-container {
    width:auto;
    height: 170px;
    position: fixed;
    top: 150px;
  }

  #navbar {
    position: fixed;
    top: 320px;
  }

  #right-container {
    grid-area: b;
  }

  #blog-box-container {
    grid-area: b;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr 1fr;
    column-gap:20px;
    row-gap:20px;
  }

  .blog-box {
    height: auto;
    padding: 0px;
    position: relative;
    top:0px;
  }

  #landing-right-container {
    grid-area: b;
  }
  #black-drop {
    background-color: black;
    height: 200vw;
    width: calc(85% - 400px);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  #landing-head {
    font-size: 5em;
    color:white;

  }
}

@media (max-width: 800px) {
  #mid { 
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-areas: 
      "a"
      "b"
      "c";
      
  }

  #top-container {
    grid-area: a;
  }

  #navbar {
    grid-area: b;
  }

  #right-container {
    grid-area: c;
    column-gap:10px;
  }

  .blog-box {
    height: auto;
    padding: 0px;
    position: relative;
    top:0px;
  }
}

.navbar-link, a {
  color: black;
  text-decoration: none;
  margin: 0px; 
}

.navbar-link:hover, .current-navbar-link {
  background-color: black;
  color: white;
  padding:2px 5px;
  position: relative;
  left: -5px;

}

#opaque {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  pointer-events: none;
  z-index: -1;
}

#titles {
  margin-bottom: 80px;
}

.blog-post-date {
  font-family: monospace;
  font-size: 1.5em;
  color: grey;
  margin-bottom: 40px;
}

.blog-post {
  display: grid;
  grid-template-rows: auto auto;
  margin-bottom: 300px;
}

.c1-question {
  font-style: italic;
  color:rgb(100, 100, 100);
}


h2 {
  padding: 0px;
}

img, video { 
  width:100%;

}