html {
  font-family: sans-serif;
}

@media (min-width: 800px) {
  #mid { 
    margin: 320px auto;
    width: 70%;
    height: auto;
    display: grid;
    grid-template-rows: 120px auto;    
    grid-template-columns: 280px auto;
    grid-template-areas: 
      "a b";
  }

  #top-container {
    width:auto;
    height: 170px;
    position: fixed;
    top: 150px;
    left: 15%;
  }

  #navbar {
    position: fixed;
    top: 320px;
    left: 15%;
  }

  #right-container {
    grid-area: b;
  }

  #blog-box-container {
    grid-area: b;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr 1fr;
    column-gap:20px;
    row-gap:20px;
  }

  .blog-box {
    height: 300px;
    padding: 0px;
    position: relative;
    top:0px;
    overflow: hidden;
  }

  #opaque {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    pointer-events: none;
  }
}

@media (max-width: 800px) {
  #mid { 
    margin: 30px auto;
    width: 80%;
    display: grid;
    grid-template-areas: 
      "a"
      "b"
      "c";
      
  }

  #top-container {
    grid-area: a;
  }

  #navbar {
    grid-area: b;
  }

  #right-container {
    grid-area: c;
    row-gap:10px;
  }

  #index-top-container {
    width:auto;
    height: 170px;
    position: fixed;
    top: 150px;
    left: 15%;
  }

  #index-navbar {
    position: fixed;
    top: 320px;
    left: 15%;
  }

  .blog-box {
    height: auto;
    padding: 0px;
    position: relative;
    top:0px;
  }

  #opaque {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  }
}



.navbar-link {
  color: black;
  text-decoration: none;
  margin: 0px; 
}

.navbar-link:hover, .current-navbar-link {
  background-color: black;
  color: white;
  padding:2px 5px;
  position: relative;
  left: -5px;
  text-decoration: none;

}

#titles {
  margin-bottom: 80px;
}

.blog-post-date {
  font-family: monospace;
  font-size: 1.5em;
  color: grey;
  margin-bottom: 40px;
}

.blog-post-title {
  text-decoration: none;
  color: black
}

.blog-post {
  display: grid;
  grid-template-rows: auto auto;
  margin-bottom: 300px;
}

.c1-question {
  font-style: italic;
  color:rgb(100, 100, 100);
}


h2 {
  padding: 0px;
}

img, video { 
  width:100%;

}

#top-bar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: black;
  justify-content: center;
  align-content: center;
}

#top-bar-head {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin: auto;

}

code {
  color: #363636;
}

.code {
  background-color: #dddddd;
  width: 100%; 
  max-width: 600px;
  border-radius: 6px;
  padding: 6px
}

.tag-box {
margin-bottom: 1em;
}

.tag {
  background-color: #a3a3a3;
  color: #202020;
  padding: 0.3em 1em;
  border-radius: 20000px;
  margin-right: 11px;
}

#neuro-table {
  max-width: 800px;
  width: 100%;
  text-align: start;
}

th, td {
  border-bottom: 1px solid rgb(0, 0, 0);
  vertical-align: top;
  border-collapse: collapse;
  text-align: left;

}

.inline-link {
  color: black;
}
