html {
    font-family: sans-serif;
}

@media (min-width: 800px) {
    #mid { 
        margin: 15%;
        display: grid;
        grid-template-rows: 120px auto;    
        grid-template-columns: 280px auto;
        grid-template-areas: 
            "a a"
            "b c";
    }

    #top-container {
        position: fixed;
        top: 200px;
        left: 15%;
    }

    #navbar {
        position: fixed;
        top: 320px;
        left: 15%;
    }

    #right-container {
        grid-area: c;
    }
}

@media (max-width: 800px) {
    #mid { 
        margin: 15%;
        display: grid;
        grid-template-areas: 
            "a"
            "b"
            "c";
    }

    #top-container {
        grid-area: a;
    }

    #navbar {
        grid-area: b;
    }

    #right-container {
        grid-area: c;
    }
}



.navbar-link, a {
    color: black;
    text-decoration: none;
    margin: 0px; 
}

.navbar-link:hover, .current-navbar-link {
    background-color: black;
    color: white;
}

#titles {
    margin-bottom: 80px;
}

.blog-post-date {
    font-family: monospace;
    font-size: 1.5em;
    color: grey;
    margin-bottom: 20px;
}

.blog-post {
    display: grid;
    grid-template-rows: auto auto;
    margin-bottom: 300px;
}



h2 {
    padding: 0px;
}